{% load static %}
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/city.css' %}">
</head>
<body>
    <h1>{{ad_location}}</h1>
{% if query_city %}
    <ul>
    {% for ad in query_city %}
        <li><a href={{ad.url}}>{{ ad.url }}</a></li>
        <ul>
            <li><a href={{ad.mp_1_url}}>{{ad.mp_1_name}}</a></li>
            <li><a href={{ad.mp_2_url}}>{{ad.mp_2_name}}</a></li>
            <li><a href={{ad.mp_3_url}}>{{ad.mp_3_name}}</a></li>
            <li><a href={{ad.mp_4_url}}>{{ad.mp_4_name}}</a></li>
            <li><a href={{ad.mp_5_url}}>{{ad.mp_5_name}}</a></li>
        </ul>

    {% endfor %}
    </ul>
{% else %}
    <p>No ads are available.</p>
{% endif %}
</body>
</html>
